$animation-time: cubic-bezier(0.495, 1.225, 1.000, 0.945);

.board-message{
    width: 300px;
    height: 300px;

    background-color: darkblue;
    position: absolute;
    z-index: 10;
}

.board-message--curtainUpping{
    animation: curtainUpping 1s $animation-time;
}

.board-message--curtainFalling{
    animation: curtainFalling 1.3s $animation-time;
}

@keyframes curtainUpping{
    from{
        bottom: 0;
    }

    to{
        bottom: 100%;
    }
}

@keyframes curtainFalling{
    0%{
        bottom: 100%;
    }

    15%{
        bottom: 0%;
    }

    35%{
        bottom: 40%;
    }

    45%{
        bottom: 0%;
    }

    55%{
        bottom: 20%;
    }

    60%{
        bottom: 0%;
    }

    70%{
        bottom: 10%;
    }

    75%{
        bottom: 0%;
    }

    85%{
        bottom: 5%;
    }

    90%{
        bottom: 0%;
    }

    95%{
        bottom: 2.5%;
    }

    100%{
        bottom: 0%;
    }
}