.header{
    width: 100%;
    height: 68px;

    background-image: url('../../static/cloud.png');
    background-repeat: repeat-x;
    background-position: bottom;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header__item{
    height: 100%;
    margin-top: 12px;

    border: 6px solid transparent;
    border-image: url('../../static/frame.png') 40% stretch;

    font-size: .65em;
    color: #F8C028;
}

@media(min-width: 700px){
    .header__item{
        font-size: .9em;
    }
}