.level{
    width: 105px;
    height: 100%;
    padding: 5px;

    box-sizing: border-box;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: #0860A8;
}

@media(min-width: 700px){
    .level{
        width: 170px;
    }
}