.main-section{
    width: 100%;
    height: 100vh;

    background: url('../../static/grassLands.png'), linear-gradient(0deg, rgba(148,197,255,1) 0%, rgba(140,189,255,1) 40%, rgba(132,181,255,1) 55%, rgba(123,173,255,1) 70%, rgba(115,165,255,1) 85%);
    background-repeat: repeat-x;
    background-position: bottom;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

.main-section__game{
    width: 350px;
    height: 350px;

    position: relative;

    box-shadow: 0 0 15px rgba(0,0,0,.8);

    overflow: hidden;
}