.score{
    width: 125px;
    height: 100%;
    padding: 5px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    background-color: #0860A8;
}

@media(min-width: 700px){
    .score{
        width: 200px;
    }
}