.simon-button{
    width: 50%;
    height: 50%
}

.green{
    background-color: #4DB6AC;
}

.yellow{
    background-color: #DCE775;
}

.red{
    background-color: #FF8A65;
}

.blue{
    background-color: #64B5F6;
}

.blink{
    background-color: cornsilk;
}